@bigscreenBorderColor: #fff9;
#bigscreen * {
  --el-fill-color-blank: transparent;
  --el-bg-color: transparent;
  --el-fill-color-light: #0005;
  --el-radio-button-checked-bg-color: transparent;
  --el-radio-button-checked-text-color: var(--el-color-primary);
  --el-text-color-regular: #fff;
  --el-text-color-secondary: #fff;
  --el-border-color: @bigscreenBorderColor;
  --el-border-color-lighter: @bigscreenBorderColor;
  --el-border-color-extra-light: @bigscreenBorderColor;
}
:deep(.el-button) {
  --el-button-hover-bg-color: #0005;
}
:deep(.el-radio-button__inner) {
  border-color: @bigscreenBorderColor;
  padding: 5px;
}
:deep(.el-dialog) {
  --el-bg-color: rgba(5, 18, 24);
}
