.el-container {
  :deep(.el-aside) {
    background-color: var(--el-menu-bg-color);
    border-right: 1px solid var(--el-border-color-light);

    .logo-text {
      color: var(--el-logo-text-color);
    }
  }
  .el-header {
    background-color: var(--el-bg-color);
    border-bottom: 1px solid var(--el-border-color-light);
    :deep(.tool-bar-ri) {
      .toolBar-icon,
      .username {
        color: var(--el-text-color-primary);
      }
    }
  }
}
